* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:rgb(0, 0, 3);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 30px 30px;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color:rgb(218, 218, 238);
    margin: 0;
    display: flex-end;
}

header a {
    text-decoration: none;
    color:rgb(223, 223, 238);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
     display: flex; 
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.hero { 
    background-image: url("./straight-road.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
}

.section-title {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

section {
    padding: 60px;
}

.intro {
    text-align: center;
}

.intro h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #fce138;
    display: inline-block;
  }

.intro p {
    inline-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}


.section-title {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

section {
    padding: 60px;
}

.work-so-far {
    text-align: center;
}

.work-so-far h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #fce138;
    display: inline-block;
}

.intro p {
    inline-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

.section-title {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

section {
    padding: 60px;
}

.GIT {
    text-align: center;
}

.GIT h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #fce138;
    display: inline-block;
}

.intro p {
    inline-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto
}

footer {
    background: #eaf1f1;
    width: 100%;
    padding: 20px 35px;
  }

  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }

  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  footer a {
    color: #024e76;
  }